<div class="dialog">
  <div class="modal-header">
    <h4 *ngIf="(item$ | async).id === 0" class="modal-title" id="modal-title">{{'CIRCUITS.DIALOGS.HEADERS.NEWCIRCUIT' | translate}}</h4>
    <h4 *ngIf="(item$ | async).id > 0" class="modal-title" id="modal-title">{{'CIRCUITS.DIALOGS.HEADERS.EDITCIRCUIT' | translate}}</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="circuitFormgroup" novalidate>
      <input type="text" id="id" formControlName="id" hidden="true">
      <div class="form-group">
        <label for="name">{{'FORM.LABELS.NAME' | translate}}</label>
        <input type="text" class="form-control" id="name" formControlName="name" ngbAutofocus>
      </div>
      <div class="form-group">
        <label for="length">{{'FORM.LABELS.LENGTH' | translate}}</label>
        <input type="number" class="form-control" id="length" formControlName="length">
      </div>
      <div class="form-group">
        <label for="lapRecord">{{'FORM.LABELS.LAPRECORD' | translate}}</label>
        <input type="text" class="form-control" id="laprecord" formControlName="lapRecord">
      </div>
      <div class="form-group">
        <label for="country">{{'FORM.LABELS.COUNTRY' | translate}}</label>
        <select class="form-control" id="country" formControlName="countryId">
          <option *ngFor="let country of countryService.selectItems$ | async" [value]="country.value">{{ country.label }}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.dismiss()">{{'BUTTONS.CANCEL' | translate}}</button>
    <button *ngIf="(item$ | async).id === 0" type="button" class="btn btn-success" (click)="modal.close(circuitFormgroup)"
      [disabled]="!circuitFormgroup.valid">{{'BUTTONS.CREATE' | translate}}</button>
    <button *ngIf="(item$ | async).id > 0" type="button" class="btn btn-success" (click)="modal.close(circuitFormgroup)"
      [disabled]="!circuitFormgroup.valid">{{'BUTTONS.SAVE' | translate}}</button>
  </div>
</div>