/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.fom {
  background-color: #1f2d40;
  color: #FFFFFF;
}

.dialog {
  background-color: #4c5d75;
}

.dialog button.close {
  color: #1f2d40;
  text-shadow: none;
}

h3 {
  color: #8f96a0;
}

.numeric {
  text-align: right;
}