div.card {
  border-color: #1f2d40;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #1f2d40;
    border-color: #1f2d40 #1f2d40 #e95e2e;
}
a {
    color: #8f96a0;
    text-decoration: none;
    background-color: transparent;
}