<div class="dialog">
  <div class="modal-body">
    <form action="">
      <div class="form-group">
        <label for="inputValue">{{ data.titleKey | translate }}</label>
        <input class="form-control" type="text" [(ngModel)]="data.value" id="inputValue" name="inputValue" ngbAutoFocus>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" ngbAutofocus (click)="modal.close(data)">{{'BUTTONS.OK' | translate}}</button>
  </div>
</div>
